absl-py @ file:///D:/bld/absl-py_1598382479526/work
alabaster==0.7.12
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==1.9.12
aplus==0.11.0
appdirs==1.4.4
apyori==1.1.2
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1596630110014/work
asgiref==3.2.10
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astroid @ file:///D:/bld/astroid_1591645286655/work
astropy==4.0.3
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
Automat==20.2.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.0.0
bcrypt @ file:///D:/bld/bcrypt_1597603699121/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1597679909012/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600270521970/work
blinker==1.4
boto3==1.13.19
botocore==1.16.19
bqplot==0.12.18
branca==0.4.1
brotlipy==0.7.0
cachetools==4.1.0
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1600276624154/work
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
clyent==1.2.2
colorama==0.4.3
combo==0.0.8
conda==4.8.5
conda-build==3.18.9
conda-package-handling @ file:///D:/bld/conda-package-handling_1600353891882/work
conda-verify==3.4.2
constantly==15.1.0
cryptography @ file:///D:/bld/cryptography_1598621309630/work
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.14
dask==2.30.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
distlib==0.3.1
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1594584774608/work
folium==0.11.0
future==0.18.2
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
geographiclib==1.50
geopy==2.0.0
glob2==0.7
google-pasta==0.2.0
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1594643355048/work
grpcio @ file:///D:/bld/grpcio_1596715850903/work
gunicorn==20.0.4
h5py @ file:///D:/bld/h5py_1595110299148/work
hyperlink==20.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagesize==1.2.0
imbalanced-learn==0.7.0
importlib-metadata @ file:///D:/bld/importlib-metadata_1593211612489/work
incremental==17.5.0
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1596221474428/work
intervaltree==3.0.2
ipydatawidgets==4.1.0
ipykernel @ file:///D:/bld/ipykernel_1595447157738/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipyleaflet==0.13.3
ipympl==0.5.8
ipython @ file:///D:/bld/ipython_1598750239682/work
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.4.0
ipyvuetify==1.5.1
ipywebrtc==0.5.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
isort @ file:///D:/bld/isort_1599717972781/work
itemadapter==0.1.0
itemloaders==1.0.3
jedi==0.14.1
Jinja2==2.11.2
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1591810480056/work
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-core==4.6.3
jupyterlab==2.2.8
jupyterlab-pygments==0.1.1
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring @ file:///D:/bld/keyring_1598904206291/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
lightgbm==3.1.0
llvmlite==0.31.0
lxml==4.5.2
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1589366472132/work
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
menuinst==1.4.16
missingno==0.4.2
mistune==0.8.4
mkl-service==2.3.0
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1598643641143/work
navigator-updater==0.2.1
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1598558657104/work
nbconvert @ file:///D:/bld/nbconvert_1600287253872/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1594996608835/work
networkx==2.4
notebook @ file:///D:/bld/notebook_1599742596731/work
numba==0.47.0
numpy @ file:///D:/bld/numpy_1597938567428/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1593656006205/work
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///D:/bld/pandas_1598294826108/work
pandocfilters==1.4.2
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1598988093657/work
parsel==1.6.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1596584577899/work
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1594213048891/work
pkginfo==1.5.0.1
plotly==4.14.1
pluggy @ file:///D:/bld/pluggy_1592827687923/work
pmdarima==1.5.2
progressbar2==3.53.1
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1598885455507/work
Protego==0.1.16
protobuf==3.13.0
psutil @ file:///D:/bld/psutil_1594827123623/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1593088446458/work
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclustering==0.9.3.1
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycosat==0.6.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydeck==0.3.1
PyDispatcher==2.0.5
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1598747747227/work
pydot==1.4.1
pydotplus==2.0.2
pyflakes==2.2.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
PyHamcrest==2.0.2
pylint @ file:///D:/bld/pylint_1598117275719/work
PyNaCl==1.3.0
pyod==0.7.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyreadline==2.1
pyrsistent @ file:///D:/bld/pyrsistent_1599988498407/work
PySocks==1.7.1
pytest==6.0.2
pytest-runner==5.2
python-dateutil==2.8.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1599827444631/work
python-language-server==0.31.7
python-utils==2.4.0
pythreejs==2.2.1
pytz==2020.1
pywaffle==0.5.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1597162770358/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1588715536397/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1599147533948/work
QtPy==1.9.0
queuelib==1.5.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
retrying==1.3.3
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1588950285934/work
Rtree==0.9.4
ruamel-yaml-conda @ file:///D:/bld/ruamel_yaml_1598972574949/work
s3fs==0.2.2
s3transfer==0.3.3
scikit-fuzzy==0.4.2
scikit-learn==0.23.2
scipy==1.3.1
Scrapy==2.3.0
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn-extra==0.0.3
snowballstemmer==2.0.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1597405755328/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spotipy==2.16.1
spyder==4.0.1
spyder-kernels @ file:///D:/bld/spyder-kernels_1599014740803/work
sqlparse==0.3.1
squarify==0.4.3
statsmodels @ file:///D:/bld/statsmodels_1598551192913/work
streamlit==0.60.0
suod==0.0.2
tabulate==0.8.7
tensorboard==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz==0.10.0
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1599956693194/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1599471676085/work
traittypes==0.2.1
Twisted==20.3.0
typed-ast==1.4.1
tzlocal==2.1
ujson @ file:///D:/bld/ujson_1599591302984/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
vaex==3.0.0
vaex-arrow==0.5.1
vaex-astro==0.7.0
vaex-core==2.0.3
vaex-hdf5==0.6.0
vaex-jupyter==0.5.2
vaex-ml==0.9.0
vaex-server==0.3.1
vaex-viz==0.4.0
validators==0.15.0
virtualenv==20.0.31
w3lib==1.22.0
watchdog @ file:///D:/bld/watchdog_1595646497503/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1595859607677/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1594164533747/work
win-inet-pton==1.1.0
wincertstore==0.2
wordcloud==1.7.0
wrapt==1.11.2
xarray==0.16.1
xgboost==1.2.0
xlrd==1.2.0
xmltodict==0.12.0
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1595950469082/work
yellowbrick==1.1
zipp==3.1.0
zope.interface==5.1.0
